<p id="notice"><%= notice %></p>

<h1>Officers</h1>
<h2>     
  <li class="nav-item">
    <%= link_to "Sign In",
    new_officer_session_path,class:"nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Sign Up",
    new_officer_registration_path,class:"nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Sign Out",
    destroy_officer_session_path, method: :delete, class:"nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Edit Profile",
    edit_officer_registration_path,class:"nav-link" %>
  </li>

</h2>


<table>
  <thead>
    <tr>
      <th>Uin</th>
      <th>Position</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= officer.uin %></td>
        <td><%= officer.position %></td>
        <td><%= officer.password %></td>
        <td><%= link_to 'Show', officer %></td>
        <td><%= link_to 'Edit', edit_officer_path(officer) %></td>
        <td><%= link_to 'Destroy', officer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Officer', new_officer_path %>

<button onclick="myFunction()">Dark Mode</button>

<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark_mode");
}