<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to "Arabic Club", root_path, class:"navbar_brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <% if officer_signed_in? %>
          <%= link_to "Members", members_path, class:"nav-link" %>
          <%= link_to "Officers", officers_path, class:"nav-link" %>
          <%= link_to "Attendance Logs", logs_path, class:"nav-link" %>
          <%= link_to "Events", events_path, class:"nav-link" %>
          <%= link_to "Reviews", reviews_path, class:"nav-link" %>
          <%= link_to "Sign Out", destroy_officer_session_path, method: :delete, class:"nav-link" %>
        <% else %>
          <%= link_to "Members", members_path, class:"nav-link" %>
          <%= link_to "Attendance Sheet", new_log_path, class:"nav-link" %>
          <%= link_to "Events", events_path, class:"nav-link" %>
          <%= link_to "Sign In", new_officer_session_path, class:"nav-link" %>
        <% end %>
       
      </div>
    </div>
  </div>
</nav>