<html>
<%= stylesheet_link_tag 'home.css' %>
<body>
<ul>
  <%= link_to 'Member', members_path %>
  <%= link_to 'Officer', officers_path %>
  <%= link_to 'Log', logs_path %>
  <%= link_to 'Event', events_path %>
  <%= link_to 'Review', reviews_path %>
</ul>
#<img src = "../assets/images/tamuSeal.png" alt="Arabic Club Logo">
render('../assets/images/tamuSeal.png')
<h1>Welcome to the</h1>
<h1>Arabic Club Participation Tracker</h1>
<p> Click on one of the links above to get started!</p>


</body>

</html>

