<html>
<%= stylesheet_link_tag 'home.css' %>
<body>
<ul>
  <%= link_to 'Member', members_path %>
  <%= link_to 'Officer', officers_path %>
  <%= link_to 'Log', logs_path %>
  <%= link_to 'Event', events_path %>
  <%= link_to 'Review', reviews_path %>
</ul>

<div class="header">
  <div class="container">
  <%= image_tag "tamuSeal.png"%>
  </div>
  <h1>Welcome to the</h1>
  <h1>Arabic Club Participation Tracker</h1>
</div>


<button onclick="myFunction()">Dark Mode</button>

<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark_mode");
}
</script>


</body>

</html>

