<ul>
  <%= link_to 'Member', members_path %>
  <%= link_to 'Officer', officers_path %>
  <%= link_to 'Log', logs_path %>
  <%= link_to 'Event', events_path %>
  <%= link_to 'Review', reviews_path %>
</ul>
<h1>Arabic Club Participation Tracker</h1>
