<%= stylesheet_link_tag 'logs.css' %>
<p id="notice"><%= notice %></p>
<body>
<p>
  <strong>Log:</strong>
  <%= @log.log_id %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @log.uin %>
</p>

<p>
  <strong>Event:</strong>
  <%= @log.event_id %>
</p>

<button type="button" class="showButton"><%= link_to 'Edit', edit_log_path(@log) %></button> |

</body>
