<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.select :member_id, Member.order(:uin).map { |member| [member.uin, member.id] }, include_blank: true, id: "id_of_the_member_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, Event.order(:event_id).map { |event| [event.event_id, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, options_for_select(1..5), :prompt => 'Select', required: true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
