<%= stylesheet_link_tag 'reviews.css' %>
<body>
<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @review.member_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @review.event_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<button type="button" class="showButton"><%= link_to 'Edit', edit_review_path(@review) %></button> |
<button type="button" class="showButton"><%= link_to 'Back', reviews_path %></button>

</body>